.pad{
  padding-left:20px;
  padding-top:10px;
  padding-right:20px;
}

.btn-style{
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}
.custom-scroll-worker {
  height: 100vh;
  overflow-y: auto;
}