
* {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    background-color: #f4f4f4;
  }
  

  .navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  
 
  .content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  
button {
    background-color: #3498db; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    margin: 5px; 
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  
  button:hover {
    background-color: #2980b9; 
  }
  