

  .overflow-scroll-USerMedicine{
    overflow-y: scroll; 
    height: 100vh; 



  }
 
  .my-card{
    margin-bottom: 250px;
  }
 
  .card-title{
    color: #05078A;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #05078A;
    color: white;
    text-align: center;




  }
.my-bm{
  padding-bottom: 50px;
}
  
.card-text{
  
  padding-top: 10px;
  border-radius: 10px;
  background-color: #05078A;
  text-align: center;
  
}




  
  
 