.my-about{

    background-image: url('./images/3.jpg'); /* Add background image */
    background-size: cover; /* Add background size */
    background-position: contain; /* Add background position */
    padding: 7em 0; /* Add padding */
    color: #fff; /* Add color */
    text-align: center; /* Add text align */
    position: relative; /* Add position */
    height: 60vh; /* Add height */

}
.img-display{
  
  padding-bottom: 50px;
}

.fix{
  padding-top:100px;
}

.overflow-scroll {
    overflow-y: scroll; 
    height: 100vh; 
  }
 