.my-dashboard{

    background-image: url('./images/f.jpg'); 
    background-size: cover; 
    background-position: center;
    padding: 7em 0; 
    color: #fff; 
    text-align: center; 
    position: relative; 
    height: 70vh; 

}

.fix{
  padding-top:100px;
}
.scroll {
  overflow-y: scroll; 
  height: 100vh; 
}


