.my-dashboard{

    background-image: url('./images/f.jpg'); 
    background-size: cover; 
    background-position: center;
    padding: 7em 0; 
    color: #fff; 
    text-align: center; 
    position: relative; 
    height: 70vh; 

}

.fix{
  padding-top:100px;
}
.scroll-admin {
  overflow-y: scroll; 
  height: 100vh; 
}
.effect{
  
  padding: 1em; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  margin-bottom: 1em; 
}
.effect:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}
.wd-d{
  
}
.feat{
  padding-top:20px;
}

