

.scroll-admin {
  overflow-y: scroll; 
  height: 100vh;
}

.container-stock{
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.stock-style{
  border-radius: 28px;
  border: 1px solid #000;
  border-color: #000;
  width: 400px;
  padding-left: 20px;
 
}
.s-container{
   margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

