/* EditProfile.css */

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding-top: 90px;
  }
  
  .form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container button[type="submit"] {
    background-color: #1890ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #0070f3;
  }
  
  .navbar {
    background-color: #128c7e;
    color: white;
    padding: 8px 0;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  .navbar li:hover {
    background-color: #0a6c5e;
  }
  
  .navbar .active {
    background-color: #075146;
    font-weight: bold;
  }