

.order-list-container {
  padding-left: 300px;
  padding-top: 50px;
 
}
.card-my-style{
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #ccc;
  padding: 30px;
 ;

}



.p-style{
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #ccc;
  padding: 30px;
  font-size: 30px;
  color: #000;
  background-color: blue;

}
.p-style:hover{
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #ccc;
  padding: 10px;
}


.card-container {
  height: 100vh;
 
  
  overflow-y: auto;
}
.card-padd{
  padding-left: 400px;
}

.workername{
  background-color: #1e81b0;
    
  border: 2px solid #007bff;
  padding: 10px; 
  border-radius: 5px;
}




