

.order-list-container {
  padding-left: 30px;
  padding-top: 50px;
 
}

.list-group-item{
  padding: 10px;
  margin: 10px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
 

  
}
.card-my-style{
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #ccc;
  padding: 30px;
  
 ;

}
.card1{
  width: 100%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.p-style{
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #ccc;
  padding: 15px;
  font-size: 15px;
  color: #000;
  background-color: blue;
  width: 90%;
  text-align: center;
  

}
.p-style:hover{
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #ccc;
  padding: 10px;
}


.card-container {
  height: 100vh;
 
  
  overflow-y: auto;
}

.workername{
  background-color: #1e81b0;
    
  border: 2px solid #007bff;
  padding: 10px; 
  border-radius: 5px;
}

.od{
  background-color: #1e81b0;
  border: 2px solid #007bff;
  padding: 10px; 
  border-radius: 5px;
}



